.branch-board-container {
    width: 100%;
    height: 100%;
    max-width: var(--branch-board-width);
    margin: 0 auto;
    padding: 0px;
}

.branch-board-container .board-title {
    font-size: 21px;
    font-weight: 700;
    color: var(--black-color);
    text-align: left;
    margin-bottom: 14px;
}

.branch-board-container .board-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: table;
}

.branch-board-container .board-list .post-item {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.branch-board-container .board-list .post-item .post-region {
    background-color: transparent;
}

.branch-board-container .board-list thead tr {
    border-bottom: 1px solid #ddd;
}

.branch-board-container .board-list th {
    padding: 14px 5px;
    vertical-align: middle;
    font-size: 14px;
}

.branch-board-container .board-list .post-item td {
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
}

.branch-board-container .board-list .post-item .post-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.branch-board-container .board-list .post-item:last-child {
    border-bottom: none;
}   

.branch-board-container .board-list .post-item .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.branch-board-container .board_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.empty-posts-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.empty-posts-icon {
    font-size: 24px;
    color: var(--black-color);
    margin-bottom: 10px;
}   

.empty-posts-message {
    font-size: 21px;
    color: var(--black-color);
    font-weight: 300;
}

.empty-posts-submessage {
    font-size: 14px;
    color: var(--black-color);
    font-weight: 600;
}











