.login-form {
    font-family: 'Pretendard';
    position: absolute;
    top: 80px;
    right: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    width: 100%;
    max-width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--white-color);
    overflow: hidden;
}

.loginleft {
    width: 50%;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.loginleft img {
    width: 100%;
    height: auto;
}

.loginright {
    width: 50%;
    height: 100%;
    background-color: var(--white-color); 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px;

}

.login_title h2 {
  
  font-size: 24px;
  font-weight: 600;
  text-align: center; 
  margin-bottom: 10px;
}

.login_title p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #a7a7a7;
  font-weight: 300;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    color: var(--black-color);
    box-sizing: border-box;
    background-color: var(--white-color);
    border-radius: 30px;
}

.login-form button {
  width: 100%;
  padding: 13px;
  background-color: var(--black-color);
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.login-form button:hover {
  background-color: #0056b3;
} 

.login_form_input {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.login_form_input label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 400;
}

.login_form_input input {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
}

.join_btn {
    width: 100%;
    padding: 0 24px;
    text-align: right;
    margin-top: 14px;
}

.join_btn a {
    color: var(--black-color);
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
}


